body {

    background-color: lightblue;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    transition: all 3s;
}

/* h1:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
} */

.letter {
    transition: color 1000ms;
}

.space {
    display: inline-block;
    width: 3vw;
}

img {
    width: 50vw;
    height: 50vw;
}
